// @import 'base/reset';
@import 'base/fonts';

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'layout/nav';
@import 'layout/header';
@import 'layout/footer';

@import 'components/button';

@import 'pages/accueil';
@import 'pages/restaurant';

.blanc {
    color: $blanc;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Shrikhand", cursive;
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.h1 {
    @include fluid-text(25px, 30px, 1.1, 320px, 475px);
    font-weight: 900;
    margin: 20px 0;
}
.h3 {
    font-weight: 600;
    font-size: 17px;
}
.h4 {
    @include fluid-text(15px, 18px, 1.1, 320px, 475px);
    font-weight: 300;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

section {
    padding: 30px 20px;
}


.violet {
    color: $violet;
    &_bg {
        background-color: $violet!important;
    }
}

.violet-light {
    color: lighten($violet, 0.5);
    &_bg {
        background-color: lighten($violet, 35%);
    }
}

.bold {
    font-weight: bold!important;
}

.thin {
    font-weight: 300!important;
}