@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.nav {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo {
  width: 180px;
}

.header {
  text-align: center;
}

.location {
  font-size: 16px;
  font-weight: 500;
  background-color: #e6e6e6;
  color: #383838;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location::before {
  content: url("../images/location.svg");
  margin-right: 10px;
}

.intro {
  background-color: #f0f0f0;
  padding: 30px 30px;
}

.footer {
  background-color: #383838;
  padding: 20px 20px;
  color: #fff;
}
.footer a {
  color: #fff;
}
@media (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.footer p {
  font-size: 15px;
  margin: 0;
}
.footer p.thin {
  margin: 10px 0;
}
.footer-logo {
  width: 100px;
  height: auto;
  margin: 10px 0;
}
.footer-icon {
  margin-right: 15px;
}
.footer-icon i {
  width: 15px;
  height: auto;
}
.footer-item_flex {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.buttonViolet {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  margin-top: 30px;
  padding: 15px 20px;
  border-radius: 50px;
  letter-spacing: 0.5px;
  border: none;
  background: linear-gradient(0deg, #9356dc 30%, #ff79da);
  box-shadow: #a5a5a5 0 4px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.buttonViolet:hover {
  opacity: 0.7;
}

.loader_1 {
  width: 30px;
  height: 30px;
  background-color: #9356dc;
  border-radius: 50%;
  opacity: 0.7;
  animation: animationLoader1 1s linear forwards infinite;
  transform-origin: center right;
}
.loader_2 {
  width: 30px;
  height: 30px;
  background-color: #99e2d0;
  border-radius: 50%;
  opacity: 0.7;
  animation: animationLoader2 1s linear forwards infinite;
  transform-origin: center left;
}

@keyframes animationLoader1 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  50% {
    transform: rotate(360deg) translateX(10px);
  }
  100% {
    transform: rotate(720deg) translateX(0);
  }
}
@keyframes animationLoader2 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  50% {
    transform: rotate(360deg) translateX(-10px);
  }
  100% {
    transform: rotate(720deg) translateX(0);
  }
}
.animationEnter {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #f0f0f0;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
  position: absolute;
  animation: animationEnter 0.3s ease-out 1.7s forwards;
}

@keyframes animationEnter {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  99% {
    opacity: 0;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media (min-width: 1000px) {
  .fonctionnement h2 {
    text-align: center;
  }
}
.fonctionnement-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  .fonctionnement-item {
    margin: 0 10px;
  }
}
.fonctionnement-item_container {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .fonctionnement-item_container {
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement-number {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: -15px;
  z-index: 2;
  color: #fff;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement-options {
  width: calc(100% - 95px);
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #f0f0f0;
  box-shadow: #c4c4c4 0 4px 10px;
  display: flex;
  align-items: center;
}
.fonctionnement-options p {
  font-size: 15px;
  font-weight: bold;
}
.fonctionnement-icon {
  color: #858585;
  margin-right: 30px;
  font-size: 20px;
}

.restaurants {
  background-color: #f0f0f0;
}
@media (min-width: 1000px) {
  .restaurants h2 {
    text-align: center;
  }
}
.restaurants a {
  text-decoration: none !important;
}
@media (min-width: 1000px) {
  .restaurants a {
    width: 25%;
    margin: 0 10px;
  }
}
.restaurants-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media (min-width: 1000px) {
  .restaurants-container {
    flex-direction: row;
  }
}
.restaurants-visuel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.restaurants-visuel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px 20px 0 0;
}
.restaurants-visuel_description {
  box-shadow: 0 0 15px #c2c2c2;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  position: relative;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants-visuel_description p {
  margin-bottom: 5px;
  color: black;
}
.restaurants-visuel_description p b {
  font-size: 17px;
}
.restaurants-visuel_icon {
  cursor: pointer;
  color: transparent;
  font-size: 20px;
  transform: scaleX(0.95);
  transition: all 0.2s ease;
}
.restaurants-visuel_icon::before {
  -webkit-text-stroke: 1px #383838;
}
.restaurants-visuel_icon:hover {
  background: -webkit-linear-gradient(-120deg, #9356dc 30%, #ff79da);
  transform: scaleX(1) scaleY(1.05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants-visuel_icon:hover::before {
  -webkit-text-stroke: 1px #fff;
}
.restaurants-visuel_new {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 2px;
  padding: 7px 12px;
  color: #32b091;
  font-weight: bold;
  background-color: #99e2d0;
}

.restaurant-back {
  position: absolute;
  height: 64px;
  display: flex;
  align-items: center;
  top: 0;
  left: 30px;
}
.restaurant-back i {
  font-size: 25px;
  color: black;
}
.restaurant-header {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.restaurant-menu {
  padding: 40px 20px;
  background-color: #f0f0f0;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
}
.restaurant-menu_item {
  margin-bottom: 40px;
}
@media (min-width: 1000px) {
  .restaurant-menu_itemContainerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.restaurant-menu_titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 50px;
}
.restaurant-menu_itemTitle {
  font-size: 18px;
  font-weight: normal;
  color: #383838;
  margin-bottom: 5px;
}
.restaurant-menu_divItemContainer .restaurant-menu_itemDetail:nth-child(1) {
  animation: showMenuItemLoad 1.5s forwards 0.6s;
}
.restaurant-menu_divItemContainer .restaurant-menu_itemDetail:nth-child(2) {
  animation: showMenuItemLoad 1.5s forwards 0.9s;
}
.restaurant-menu_divItemContainer .restaurant-menu_itemDetail:nth-child(3) {
  animation: showMenuItemLoad 1.5s forwards 1.2s;
}
.restaurant-menu_divItemContainer .restaurant-menu_itemDetail:nth-child(4) {
  animation: showMenuItemLoad 1.5s forwards 1.5s;
}
.restaurant-menu_itemDetailContainer {
  display: flex;
}
.restaurant-menu_itemDetail {
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  margin: 20px 0;
  box-shadow: #c4c4c4 0 4px 10px;
  opacity: 0;
  transform: translateY(50%);
}
@media (min-width: 1000px) {
  .restaurant-menu_itemDetail {
    margin: 20px 10px;
    width: 30vw;
    max-width: 600px;
  }
}
.restaurant-menu_itemDetail h3 {
  margin-top: 0;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 30px;
  width: 80%;
  transition: all 0.5s ease;
}
.restaurant-menu_itemDetail p {
  margin: 0;
  color: #383838;
}
.restaurant-menu_itemDetail:hover .restaurant-menu_itemVert {
  transform: translateX(0);
}
.restaurant-menu_itemDetail:hover .restaurant-menu_itemVert i {
  transform: rotate(360deg);
  transition: all 0.5s ease 0s;
}
.restaurant-menu_itemDetail:hover .restaurant-menu_itemDetailFlex2 {
  width: calc(100% - 70px);
}
.restaurant-menu_itemVert {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 20px 20px 0;
  width: 70px;
  height: 100%;
  transform: translateX(70px);
  background-color: #99e2d0;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-menu_itemVert i {
  color: #fff;
  font-size: 22px;
  transform: rotate(0);
  transition: all 0s ease 0.3s;
}
.restaurant-menu_itemDetailFlex {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  width: 100%;
}
.restaurant-menu_itemDetailFlex p:first-child {
  margin-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu_itemDetailFlex p:last-child {
  margin-right: 30px;
}
.restaurant-menu_itemDetailFlex2 {
  width: 100%;
  padding: 15px 0px 15px 10px;
  transition: all 0.5s ease;
}
.restaurant-menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-menu_button button {
  padding: 20px 60px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.souligne-vert {
  height: 3px;
  width: 50px;
  background-color: #99e2d0;
}

@keyframes showMenuItemLoad {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.blanc {
  color: #fff;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Shrikhand", cursive;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h1 {
  font-size: 25px;
  line-height: 1.1;
  font-weight: 900;
  margin: 20px 0;
}
@media (min-width: 320px) {
  .h1 {
    font-size: calc(3.2258064516vw + 14.6774193548px);
  }
}
@media (min-width: 475px) {
  .h1 {
    font-size: 30px;
  }
}

.h3 {
  font-weight: 600;
  font-size: 17px;
}

.h4 {
  font-size: 15px;
  line-height: 1.1;
  font-weight: 300;
}
@media (min-width: 320px) {
  .h4 {
    font-size: calc(1.935483871vw + 8.8064516129px);
  }
}
@media (min-width: 475px) {
  .h4 {
    font-size: 18px;
  }
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding: 30px 20px;
}

.violet {
  color: #9356dc;
}
.violet_bg {
  background-color: #9356dc !important;
}

.violet-light {
  color: #9458dc;
}
.violet-light_bg {
  background-color: #f2eafb;
}

.bold {
  font-weight: bold !important;
}

.thin {
  font-weight: 300 !important;
}

/*# sourceMappingURL=style.css.map */
