// HEADER
.header {
    text-align: center;
}
.location {
    font-size: 16px;
    font-weight: 500;
    background-color: #e6e6e6;
    color: $gris;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: url("../images/location.svg");
        margin-right: 10px;
    }
}
.intro {
    background-color: $gris-light;
    padding: 30px 30px;
    & .button {
        color: $blanc;
        font-weight: 500;
        font-size: 12px;
        // width: 180px;
        // height: 40px;
        padding: 15px 20px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(0deg, $violet 30%, $rose);
        box-shadow: #a5a5a5 0 4px 8px;
    }
}