// HEADER
.header {
    text-align: center;
}
.location {
    font-size: 16px;
    font-weight: 500;
    background-color: #e6e6e6;
    color: $gris;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: url("images/location.svg");
        margin-right: 10px;
    }
}
.intro {
    background-color: $gris-light;
    padding: 30px 30px;
}